*.ftp
server/source/noexs/noexs.kip1
server/source/noexs/noexs.elf
server/source/noexs/build
client/.classpath
client/.project
client/dependency-reduced-pom.xml
client/.settings
client/shade
client/tmp
client/dependencies/.classpath
client/dependencies/.project
client/dependencies/.settings
client/target
